{% extends 'principal/base.html' %}
{% block contenido %}
            <!-- Table Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Segundo Semestre</h6>
                            <table class="table">
                                <thead>
                                    <tr> <!--Estructura de la tabla-->
                                        <th scope="col">Curso</th><!--1-->
                                        <th scope="col">Descripcion</th><!--2-->
                                        <th scope="col">Precio</th><!--3-->                                        
                                    </tr>
                                </thead>
                                {%for c in cursos %}
                                <tbody>
                                    <tr> <!--Datos para la tabla-->
                                        <th scope="row">{{c.nombre}}</th><!--1-->
                                        <td>{{c.descripcion}}</td><!--2-->
                                        <td>{{c.precio}}</td><!--3-->  
                                    </tr>
                                </tbody>
                                {% endfor %}    
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Table End -->


{% endblock %}